<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.BookMapper">
<!-- 도서정보 삽입 -->
	<insert id="insert">
		insert into bookTBL
		values(#{code},#{title},#{writer},#{price})
	</insert>
	<!-- 도서정보 삭제 -->
	<delete id="delete">
		delete from bookTBL where code=#{code}
	</delete>
	<!-- 도서정보 수정: 가격 -->
	<update id="update">
		update bookTBL set price=#{price} where code=#{code}
	</update>
	<!-- 전체 도서정보 가져오기 -->
	<select id="selectAll" resultType="com.company.domain.BookVO">
		select * from bookTBL
	</select>
	<!-- 특정 도서정보 검색: code or writer -->
	<select id="search" resultType="com.company.domain.BookVO">
    	select * from bookTBL
		where ${criteria} = #{keyword}
	<!-- 	<if test="criteria=='code'.toString()">
			code=#{keyword}
		</if>
		<if test="criteria=='writer'.toString()">
			writer like '%'||#{keyword}||'%'
		</if> -->
	</select>
</mapper>