<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 이 설정 파일에 기록되는 모든 빈들의 관리를 스프링 컨테이너가 하게 됨 -->
 
	<!-- MessageBean 클래스의 객체를 생성 -->	
	<bean id ="msg" class="com.company.app.MessageBean"/>
    <!-- SamsungTV 클래스의 객체를 생성	 -->
	<bean id ="samsung" class="com.company.poly.SamsungTV"/>

	<bean id="sony" class="com.company.poly.SonySpeaker" />
	<bean id="apple" class="com.company.poly.AppleSpeaker"/>

	<!-- lgTV 클래스의 객체를 생성 -->	
<!-- 	<bean id ="lg" class="com.company.poly.LgTV">
	     <constructor-arg ref="apple"/> 
	</bean> -->
	<!-- Speaker 객체 초기화를 Setter 메소드 통해서 하는 방식 -->
	<bean id="lg" class="com.company.poly.LgTV">
		<property name="speaker" ref="apple" />
		<property name="price" value="350000"></property>
	</bean>
</beans>
