<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.MemberMapper">
	<insert id="insert">
		insert into member(userid,password,name,gender,email) 
		values(#{userid},#{password},#{name},#{gender},#{email})
	</insert>
	<update id="update">
		update member set password=#{password} where userid=#{userid}
	</update>
	<delete id="delete">
		delete from member where userid=#{userid} and password=#{password}
	</delete>
	<select id="select" resultType="com.company.domain.MemberVO">
		select * from member where userid=#{userid} and password=#{password}
	</select>
	<select id="selectAll" resultType="com.company.domain.MemberVO">
		select * from member
	</select>
	
</mapper>